/* css and scss */
@css:#da85bd;

atom-text-editor {

  .syntax--css,
  .syntax--scss,
  .syntax--less {

    &.syntax--name {
      color: rgb(245, 204, 238);
    }

    &.syntax--class {
      color: @css;

      .syntax--punctuation {
        color: inherit !important;
      }
    }

    &.syntax--id {
      color: lighten(@css, 10%) !important;

      .syntax--punctuation {
        color: inherit !important;
      }
    }

    &.syntax--at-rule,
    &.syntax--control {
      color: rgb(166, 136, 191) !important;
      font-weight: bold;

      .syntax--punctuation {
        color: inherit !important;
      }
    }

    &.syntax--function {
      color: #c5e548;
    }

    &.syntax--variable {
      color: #bac46c;

      .syntax--punctuation {
        color: inherit !important;
      }
    }

    &.syntax--keyword,
    &.syntax--constant,
    &.syntax--numeric {
      color: white;
    }

    &.syntax--property-value {
      color: #ccc;
    }

    &.syntax--property-name {
      color: #afafaf;
    }

    &.syntax--pseudo-element {
      color: #98c3f0 !important;

      .syntax--punctuation {
        color: inherit !important;
      }
    }

    &.syntax--attribute-name:not(.syntax--class) {
      color: rgb(165, 134, 209);
    }

    &.syntax--punctuation:not(.syntax--comment) {
      color: white;
    }

    &.syntax--default,
    &.syntax--important {
      color: @php;
    }
  }
}
