/* html */

atom-text-editor .syntax--html {
  &.syntax--tag {

    color:#85a870;
  }
  &.syntax--string {

    color:#dbe2a1;
  }
  &.syntax--attribute-name {
    color:#a6bd98;
  }
  &.syntax--begin, &.syntax--end {
    color:#ccc;
  }

  &.syntax--style {
    >.syntax--tag.syntax--html {

      color:darken( @css, 10% );
    }
  }
}
