
/* javascript */

atom-text-editor .syntax--js {

  .syntax--keyword, .syntax--storage {
    font-weight:bold;
    color:#00b1d7;
  }

  .syntax--entity {
    font-weight:bold;
    color:#7ee8ff;
  }

  .syntax--constant, .syntax--numeric {
    color:white;
  }

  .syntax--property {
    color:rgb(172, 223, 208)
  }

  .syntax--class {
    color:rgb(36, 221, 121)
  }
  .syntax--numeric {

  }

  .syntax--operator {
    color:rgb(24, 157, 207)
  }
  .syntax--constant {
    color:rgb(166, 136, 191)
  }


  .syntax--comment {

    font-family: "Fuzzy Bubbles", "Short Stack", sans-serif;
    @comm2:rgb(65, 215, 111);
    &.syntax--block {
      color:@comm2;//rgb(213, 211, 162);
    }

    &.syntax--line {

      color:lighten( @comm2, 5% );
    }
  }
}
