
atom-text-editor.editor .linter-highlight.linter-error, .linter-highlight.linter-error {
    background-image: none;
    background-size: 8px 2px;
    background-repeat: repeat-x;
    background-position: left bottom;
    border-bottom:thick solid red;
}
atom-text-editor.editor .linter-highlight.linter-info, .linter-highlight.linter-info {
    background-image: none;
    background-size: 8px 2px;
    background-repeat: repeat-x;
    background-position: left bottom;
    border-bottom:thick solid rgb(23, 213, 238);
}
atom-text-editor.editor .linter-highlight.linter-warning, .linter-highlight.linter-warning {
    background-image: none;
    background-size: 8px 2px;
    background-repeat: repeat-x;
    background-position: left bottom;
    border-bottom:thick solid redrgb(255, 216, 51);
}
