/* php */
atom-text-editor .syntax--php {

  &.syntax--section.syntax--begin,
  &.syntax--section.syntax--end,
  &.syntax--keyword,
  &.syntax--storage {
    color: @php;
    font-weight: bold;
  }

  &.syntax--comment .syntax--keyword {
    color: #ccc !important;
  }

  &.syntax--constant,
  &.syntax--numeric {
    color: @purple;
  }

  // global, static
  &.syntax--modifier {
    color: white;
  }

  &.syntax--variable {
    color: #ccc;
  }

  // {}
  &.syntax--punctuation.syntax--scope {
    color: #ccc;
    font-weight: normal;
  }

  &.syntax--function {
    color: @php;
  }

  .syntax--operator {
    color: rgb(24, 157, 207);
  }
  // .syntax--constant {
  // }
}
