
/* basics */

.editor .selection .region {
  background: fade( #42f44b, 20% );

}

.editor .highlights .highlight .region.find-result {
  background:fade( #42f44b,30% );
  border:none;
  box-shadow: 0 0 0 fade( #42f44b,20% );
  animation: pulse 2s infinite;
  border-bottom:thin solid #42f44b;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 fade( #42f44b,20% );
  }
  70% {
    box-shadow: 0 0 0 10px fade( #42f44b,0% );
  }
  100% {
    box-shadow: 0 0 0 0 fade( #42f44b,0% );
  }
}
