
@import "colors";

/* window basics */

@background:#161515;

atom-workspace {
  color:#dddddd;//#babec4;
}


.item-views {
  background-color:@background;
}

atom-text-editor .line {
  //padding-left: 15px;
  //background-color: @background!important;

  &.curser-line {
    background:yellow!important;
  }
}

.line.cursor-line {
  //background-color:rgba(255, 255, 255, 0.01);
  //background: linear-gradient(to right, rgba(0,0,0,0) 0%,fade(yellow, 5%) 25%,fade(yellow, 10%) 100%)!important;
  background-color: fade(rgb(7, 203, 203), 10%);
}
.line:nth-of-type(odd) {
  //background-color:rgba(255, 255, 255, 0.01);
  //background: linear-gradient(to right, rgba(0,0,0,0) 0%,fade( black, 10% ) 6%,fade( black, 20% ) 100%);
}


.syntax--tab.active:before {
  background-color: #D54839!important;
}


.line-numbers .line-number {
  background-color:#111;
  color:#333333;
  opacity: 1!important;
}

.line-numbers .line-number.cursor-line {
  background-color:#222;
  color:#aaaaaa;
}

.line-numbers + .gutter {
  background-color: #000;
}

.line-numbers + .gutter {
  background: @background!important;
}

// empfohlenes zeilenende
.editor .wrap-guide {
  background: rgba( 0, 0, 0, .25);
}




.cursor {

  border-left:2px solid white;
  background-color: fade(#D54839, 50%);
  transition:opacity 1500ms ease;
}


.syntax--comment {

  font-family: "Fuzzy Bubbles", "Short Stack", sans-serif;
  @comm:rgb(99, 139, 193);
  &.syntax--block {
    color:@comm;//rgb(213, 211, 162);
  }

  &.syntax--line {

    color:lighten( @comm, 5% );
  }
}
.syntax--string {

  color:#dfc969;
}















@import "_css";
@import "_html";
@import "_javascript";
@import "_php";
@import "_linter";
@import "_selection_search";
