
// gelb merken #F2D44E

@comment:#999; //#CC9A43;
@defaultcolor: #333333;


@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: rgb(209, 75, 242);
@green: #b5bd68;
@red: #e05555;
@orange: #de935f;
@light-orange: #f0c674;


@php: @red;

@default-text:#afafaf;
